@font-face {
    font-family: 'IM FELL French Canon';
    src: url('IM_FELL_French_Canon_Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL French Canon';
    src: url('IM_FELL_French_Canon_Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

