/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Ms Madi";
  src: url(../type/MsMadi-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Ms Madi", system-ui;
  background-color: Canvas;
  color: white;
  color-scheme: light rgb(212, 78, 100);
}
